* {
	-fx-font-size: 14px;
}

.pane-border {
	-fx-border-color: lightgray;
	-fx-border-width: 2;
	-fx-border-radius: 0 5 5 5;
}

.label-border {
	-fx-border-color: lightgray;
	-fx-border-width: 2 2 0 2; 
	-fx-border-radius: 5 5 0 0;
	-fx-padding: 0 5;
}

.filter-pane {
	-fx-border-color: lightgray;
	-fx-border-width: 2;
	-fx-border-radius: 5;
}

.button {
	-fx-text-overrun: clip;
}

.button-agregar {
	-fx-text-overrun: leading-word-ellipsis;
}

.button-quitar {
	-fx-text-overrun: word-ellipsis;
}

.login-pane {
	-fx-background-color: lightblue;
}

.login-border-pane {
	-fx-border-color: lightgray;
	-fx-border-width: 2;
	-fx-border-radius: 5;
}